/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
button:focus
{
	outline: none;
}
body
{
	margin : 0;
	padding: 0;
	background: url(../assets/images/grey-back.jpg);
	background-repeat: no-repeat; 
}
#header-wrap
{
	width: 100%;
	background: #282E34;
	opacity: 0.9;
	border-bottom: 5px solid #f3067c;
}
#header
{
	width: 80%;
	margin: 0 auto;
	padding: 20px 0px;
    text-align: center;
}
.a-link
{
	background: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    float: left;
}
.a-link:hover{
	background: transparent;
	border-bottom: 2px solid crimson;
	border-radius: 0px;
	transition-duration: 0.5s;
	color: white;
}
#title-text
{
	display: inline-block;
    color: white;
  /*  width: 86%;*/
    text-align: center;
    font-size: 24px;
    font-family: 'Dosis',sans-serif;
}
.caption {
  position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: left;
    color: #000;
    background: crimson;
    opacity: 0.9;
    font-family: 'Dosis',sans-serif;
}

.caption span.border {
      padding: 1% 6% 2% 6%;
    font-size: 24px;
    letter-spacing: 5px;
    left: 5%;
    position: relative;
    border: 2px solid black;
    color: white;
}
#steps-wrap
{
	width: 70%;
    color: white;
    float: right;
    font-size: 20px;	
    text-align: right;
    margin-right: 10%;
    height: 100%;
}
#steps-wrap button
{
	padding: 11px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Dosis',sans-serif;
    cursor: pointer;
}
#steps-wrap button:hover
{
	background: white;
	color: black;
	transition-duration: 0.5s;
}
.active
{
	background: white!important;
	color: black!important;
	transition-duration: 0.5s;
}
.a-step
{
	width: 80%;
    height: 450px;
    border: 2px solid white;
    margin: 0 auto;
    position: relative;
    top: 135px;
    display: block;
}
.hide
{
	display: none;
}
.step-view
{
	width: 100%;
	margin-bottom: 50px;
}
.label
{
	width: 12%;
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: 'Dosis',sans-serif;
    position: relative;
    border-radius: 0px 0px 15px 0px;
    text-align: center;
}
#input-chooser-wrap
{
	width: 100%;
    position: relative;
    text-align: center;
    top: 20%;
}
.an-input
{
    display: inline-block;
    text-align: center;
    width: 30%;
    border-right: 1px solid black;
    cursor: pointer;
}
.half-opaque
{
	opacity: 0.1;
	transition-duration: 0.5s;
}
.input-text
{
	padding: 20px 0px;
    font-size: 20px;
    font-family: 'Dosis',sans-serif;
}
.last
{
	border-right: none!important;
}
.proceed-label
{
	position: absolute;
	border-radius: 15px 0px 0px 0px!important;
	bottom: 0;
	right: 0;
	cursor: pointer;
	text-align: center;
}
#chart-wrap
{
    width: 100%;
    float: left;
}
#soft-chart
{
    float: left;
    position: relative;
    left: 10%
}
#hard-chart
{
    float: right;
    position: relative;
    right: 10%
}
#stats-wrap
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 70%;
    overflow-y: auto;
}
#stats-correct
{
    position: relative;
    background: #00c851!important;
    /*opacity: 0.7;*/
    width: 100%;
    height: 15%;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    line-height: 200%;
    font-family: 'Dosis',sans-serif;
    text-align: center;
}
.a-wrong
{
    position: relative;
    width: 100%;
    height: 15%;
    background: #ff4f5e;
    opacity: 0.6;
    margin-top: 5px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    line-height: 200%;
    font-family: 'Dosis',sans-serif;
    text-align: center;
}
#stats-correct:hover,.a-wrong:hover
{
    cursor: pointer;
    opacity: 1!important;
}
#btn-run-algo
{
    position: relative;
    left: 42%;
    top: 120px;
    background: crimson;
    padding: 12px;
    color: white;
    font-family: 'Dosis',sans-serif;
    font-size: 20px;
    border-radius: 15px 0px;
    cursor: pointer;
    border: none;
}
#btn-run-algo:hover{
    box-shadow: 2px 2px 6px 2px grey;
    transition-duration: 0.3s;
}
#sheets-wrap
{
    text-align: center;
    position: relative;
    top: 20%;
}
.a-sheet
{
    display: inline-block;
    padding: 0px 3%;
}
.sheet-text
{
    text-align: center;
    font-family: 'Dosis',sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid crimson;
}
#about-genie
{
    float: right;
}
#gen-no-wrap
{
    width: 100%;
    float: left;
    position: relative;
    top: 50px;
}
.gen-no
{
    display: inline-block;
    width: 30%;
    /*margin: 0 auto;*/
    position: relative;
    background: crimson;
    padding: 16px;
    color: white;
    font-size: 20px;
    font-family: 'Dosis',sans-serif;
    border-radius: 20px 0px;
    margin-left: 12%;
    text-align: center;
}
#sample-template
{
    width: 70%!important;
    display: block!important;
    font-family: 'Dosis',sans-serif;
}
#template-link
{
    color: crimson;
    text-decoration: underline;
}