/*Three Lines Menu*/
.container {
    display: inline-block;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    float: left;
    padding: 4px;
}

.bar1, .bar2, .bar3 {
    width: 24px;
    height: 1px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}
.change
{
    border: none;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-3px, -4px);
}

/*Three lines menu end*/
/*
    Installed Fonts : 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
*/
body
{
    margin: 0;
    padding: 0;
    background: #F0F0F0;
}
#header-wrap
{
    width: 100%;
    background: cornflowerblue  ; /*#FF008D,cornflowerblue,coral*/
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 140%;
    box-shadow: 1px 1px 20px 1px grey;  
}
#header
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
}
#left-nav
{
    width: 15%;
    background: cornflowerblue;
    border-top: 2px solid azure;
    visibility: hidden;
}
ul li
{
    list-style: none;
}
.show
{
    visibility: visible!important;
}
.content-wrap
{
    width: 100%;
    font-family: 'Dosis', sans-serif;
}
.content
{
    width: 75%;
    margin: 0 auto;
}
.a-task div
{
    display: inline-block;
    text-align: center;
}
.a-task img
{
    width: 30px;
}
.a-task
{
    padding: 5px 0px;
    background: white;
    margin-top: 10px;
    border-radius: 25px 0px;
}
.a-task:hover
{
    transition-duration: 0.2s;
    border-right: 4px solid cornflowerblue;
    cursor: pointer;
}
.a-task:hover .sr-no
{
    border-right-color: cornflowerblue; 
}
.sr-no
{
    width: 5%;
    border-right: 3px solid lightgray;
}
.task-text
{
    width: 85%;
    font-size: 20px;
    text-align: left!important;
}
.task-text p
{
    padding-left: 15px;
}
.status
{
    width: calc(15% - 86px);
}
