
body, html {
  height: 100%;
  margin: 0;  font-family: 'Dosis';
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../assets/images/clock.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../assets/images/clock2.jpg");
  /*background: lightgrey;*/
  min-height: 400px;
}

.bgimg-3 {
/*  background-image: url("img_parallax3.jpg"); */
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #000;
  background: crimson;
    opacity: 0.9;
}

.caption span.border {
  /*background-color: #111;
  color: #fff;*/
  padding: 10px 7%;
  font-size: 40px;
  letter-spacing: 5px;
  left: 16%;
  position: relative;
  border: 2px solid black;
  color: white;
}
.intro
{
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
}
.intro div.intro-text
{
    font-family: 'Satisfy', cursive;
    font-size: 100%;
    width: 100%;
    text-align: center;
    left: 18%;
    position: relative;
    font-size: 25px;
    color: black;
    display: inline;
} 
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
#proceed
{
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
    left: 30%;
    letter-spacing: 1px;
    cursor: pointer;
}
#proceed:hover
{
    background: black;
    transition-duration: 0.5s;
    opacity: 1;
}
#proceed-wrap
{   
    top: 80%;
}
#gen-algo-text
{
    display: inline;
    border-bottom: 1px solid crimson;
}
.white-info-wrap
{
   color: #777;
   background-color:white;
   text-align:center;
   padding:50px 80px;
   text-align: justify;
}
.white-info-title
{
    display: block;
    font-size: 30px;
}
#schedule-icon
{
    position: relative;
    left: 6%;
    top: 35px;
}
#intro-text
{
    position: relative;
    text-align: right;
    right: 10%;
    bottom: 200px;
    font-size: 23px;
    color: black;
}
#proceed-pre-text
{
    position: relative;
    right: 10%;
}
#the-black-note
{
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:10px 7%;
    text-align: justify;
}
#about-us-span
{
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
    left: 0px!important;
}
.center
{
    text-align: center;
}
#about-wrap
{
    width: 100%;
    position: relative;
    top: 125px;
    text-align: center;
    color: black;
    font-size: 22px;
}
.a-person
{
    width: 20%;
    border-right: 1px solid black;
    display: inline-block;
}
.last
{
    border-right: none;
}
.person-name
{
    padding: 20px
}