/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
button:focus
{
	outline: none;
}
body
{
	margin : 0;
	padding: 0;
	background: url(../assets/images/grey-back.jpg);
	background-repeat: no-repeat; 
}
#header-wrap
{
	width: 100%;
	background: #282E34;
	opacity: 0.9;
	border-bottom: 5px solid #f3067c;
}
#header
{
	width: 80%;
	margin: 0 auto;
	padding: 20px 0px;
    text-align: center;
}
.a-link
{
	background: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    float: left;
    margin-left: 1%;
}
.a-link:hover{
	background: transparent;
	border-bottom: 2px solid crimson;
	border-radius: 0px;
	transition-duration: 0.5s;
	color: white;
}
#title-text
{
	display: inline-block;
    color: white;
  /*  width: 86%;*/
    text-align: center;
    font-size: 24px;
    font-family: 'Dosis',sans-serif;
}
#about-genie
{
	float: right;
}
.caption {
  
  	margin-top: 5%;
    width: 100%;
    text-align: left;
    color: #000;
    background: crimson;
    opacity: 0.9;
    font-family: 'Dosis',sans-serif;
}

.caption span.border {
      padding: 1% 6% 1% 6%;
    font-size: 24px;
    letter-spacing: 5px;
    left: 40%;
    position: relative;
    border: 2px solid white;
    color: white;

}

.cat-wrap
{
    width: 100%;
    font-family: 'Dosis',sans-serif
}
.a-cat
{
    width: 80%;
    margin: 0 auto;
}
.cat-title
{
    padding: 10px;
    font-size: 150%;
    border-bottom: 2px solid crimson;
    padding-right: 50px;
}
.cat-content
{
    padding: 20px;
}
.label
{
    display: inline-block;
    width: 40%;
    text-align: right;
}
.val-text
{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
    width: 27%;
}
.align-left
{
    text-align: left!important;
    padding-left: 10%; 
}
.an-attr
{
    margin-bottom: 10px;
}
.cat-content
{
}
.class-select
{
    margin-left: 10px;
    width: 29%;
    padding: 5px;
}
.transparent
{
    visibility: hidden;
}
.division-text
{
    text-align: left!important;
    padding-left: 10px;
    margin-top: 10px;
    display: inline-block;
}
.division-num
{
    padding: 5px;
}
.vertical-middle
{
    vertical-align: middle;
}
.inline-block
{
    display: inline-block;
}
.add-class , .add-teacher , .add-cr ,.add-lab
{
    margin-top: 10px;
    background: crimson;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-teacher
{
    background: deepskyblue;
}
.add-cr
{
}
.right
{
    text-align: right;
    margin-right: 10px;
}
.a-teacher
{
    background: rgba(0,0,0,0.1);
        padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.remove-teacher , .remove-class , .remove-cr ,.remove-lab
{
    background: black;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.remove-cr , .remove-lab
{
    margin-left: 20px;
}